<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [25]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 13 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
age_months     70000 non-null float64
dtypes: float64(2), int64(11)
memory usage: 7.5 MB

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_months
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700,640.071800
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003,81.117396
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,355.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,581.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,648.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,701.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,780.000000

In [6]:
# Ваш код здесь
df.groupby(by = ['gender'])["height","weight"].agg([np.mean,'count'])
#ответ
#2 men, 1 - women
#men - 24470 women -45530

            height            weight
              mean  count       mean  count
gender
1       161.355612  45530  72.565605  45530
2       169.947895  24470  77.257307  24470

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [10]:
# Ваш код здесь
df.groupby(by = ["gender"])["alco"].agg(['mean','count'])
#ответ женщины

            mean  count
gender
1       0.025500  45530
2       0.106375  24470

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [16]:
# Ваш код здесь
res = df.groupby(["gender"])["smoke"].agg(['mean','count'])
print(res)
smoke_woman = res.iloc[0,0] 
smoke_man = res.iloc[1,0] 
round(smoke_man / smoke_woman)
#ответ 12

            mean  count
gender
1       0.017856  45530
2       0.218880  24470

12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [35]:
# Ваш код здесь
df["age_months"] = 12 * df["age"] / (365)
res = df.groupby("smoke")["age_months"].agg("median")
abs(res.iloc[1] - res.iloc[0])
#ответ 20

19.627397260273938

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [46]:
# Ваш код здесь
df["age_years"] = round(df["age"] / (365))
smoking_man = df[(df["smoke"] == 1) & (df["gender"] == 2) & (df["age_years"]>=60) & (df["age_years"]<=64)]
smoking_man1 = smoking_man[(smoking_man["cholesterol"] == 1) & (smoking_man["ap_hi"]<120)]["cardio"]
smoking_man2 = smoking_man[(smoking_man["cholesterol"] == 3) & 
                           (smoking_man["ap_hi"]<180) & 
                           (smoking_man["ap_hi"]>=160)]["cardio"]
print(smoking_man1.mean())
print(smoking_man2.mean())
round(smoking_man2.mean() / smoking_man1.mean())
#ответ 3

0.2564102564102564
0.8636363636363636

3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [50]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_months,age_years,BMI
id,,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,604.701370,50.0,0.219671
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,665.030137,55.0,0.349277
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,619.956164,52.0,0.235078
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,579.386301,48.0,0.287105
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,574.487671,48.0,0.230112

In [74]:
# Ваш код здесь
df["BMI"] = df["weight"] / ((df["height"] / 100) **2)
print("median = {0}".format(df["BMI"].median()))
bmi_means_bygender = df.groupby(["gender"])["BMI"].agg("mean")
print("У женщин в среднем BMI ниже, чем у мужчин is {0}".format(bmi_means_bygender.iloc[0] < bmi_means_bygender.iloc[1]))
bmi_bycardio = df.groupby(["cardio"])["BMI"].agg("mean")
print("У здоровых в среднем BMI выше, чем у больных is {0}".format(bmi_bycardio.iloc[0] > bmi_bycardio.iloc[1]))
#df.pivot_table(["BMI"],["cardio"],aggfunc='mean')
bmi_good_man = df[(df["gender"] == 2) & (df["cardio"] == 0) & (df["alco"] == 0)]["BMI"].mean()
bmi_good_woman = df[(df["gender"] == 1) & (df["cardio"] == 0) & (df["alco"] == 0)]["BMI"].mean()
print("В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин is {0}".format(
    bmi_good_man < bmi_good_woman
))

median = 26.374068120774975
У женщин в среднем BMI ниже, чем у мужчин is False
У здоровых в среднем BMI выше, чем у больных is False
В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин is True

In [ ]:
#ответ
#Медианный BMI по выборке превышает норму - верно 26.37 > 25
#У женщин в среднем BMI ниже, чем у мужчин - неверно (27.987583 > 26.754442) 
#У здоровых в среднем BMI выше, чем у больных - неверно (26.548175 < 28.566061)
#В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин - верно 
#25.872638075460173 <  26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [20]:
# Ваш код здесь
df.head()
clear_df = df[df["ap_lo"] <= df["ap_hi"]]
print(clear_df.shape)
height_25 = clear_df["height"].quantile(.025)
height_97 = clear_df["height"].quantile(.975)
weight_25 = clear_df["weight"].quantile(.025)
weight_97 = clear_df["weight"].quantile(.975)
print(height_25)
print(height_97)
clear_df = clear_df[(clear_df["height"] >= height_25) & (clear_df["height"] <= height_97)]
print(clear_df.shape)
clear_df = clear_df[(clear_df["weight"] >= weight_25) & (clear_df["weight"] <= weight_97)]
print(clear_df.shape)

(68766, 12)
150.0
180.0
(65859, 12)
(63126, 12)

In [22]:
diff =df.shape[0] - clear_df.shape[0]
round(diff * 100 / df.shape[0])

10

In [18]:
clear_df.shape

(0, 12)

In [ ]:
#Ответ 10